@import "/styles/imports/colors.scss";
@import "/styles/imports/breakpoints.scss";

.Tabs {
  ul {
    display: flex;
    justify-content: center;

    @include lg {
      justify-content: flex-start;
    }

    li {
      margin: 0 5px;
      @include md {
        margin-right: 20px;
      }
    }
  }
}

.active {
  border-bottom: 1px solid $white !important;
}
